<div class="channel-wrapper">
<div class="container channel">
  <div class="row video">
    <div class="main-video" id="main-video">
      <div class='ooyala-videoplayer' id='ooyala-videoplayer'>
      </div>
    </div>
    <div class="activities">
      <ol class='nav nav-tabs nav-justified tabs' role='tablist'>
        <li><a>Activity</a></li>
        <li class='active'><a>Chat</a></li>
      </ol>
      <div class='chat-panel'>
        <chat></chat>
      </div>
    </div>
    <div class="description">
      <div class="row">
        <div class="col-md-2 col-md-offset-1 avatar"><img src="images/avatars/photoPonchas.png"></div>
        <div class="col-md-5">
          <div class="title">El Aca the la you know</div>
         <button class="btn follow">Follow</button>
         <button class="btn add-playlist"><i class="glyphicon glyphicon-plus
             "></i>Add to Playlist</button>
        </div>
        <div class="col-md-4">
          <div class="right viewers"><span>Viewers: 45</span></div>
          <div class="right"><button class="btn donate"><i class="icn-donate"></i>Donate</button></div>
        </div>
      </div>
    </div>
    <div class="ooyala-video2" id='second-video'>
      <div class="ooyala-videoplayer" id='ooyala-video2'>
      </div>
      <div class="video-overlay" ng-click='changeVideo()'>
        <div class='change-video'>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
